{
    "slack_instances": [
        {
            "channel": "#wc2018",
            "webhook": "https://hooks.slack.com/services/XXXXXXXXXX/XXXXXXXXX/XXXXXXXXXXXXXXXXXXXXXXXX",
            "participants": {
                "Argentina": "Jason",
                "Australia": "Euan",
                "Belgium": "Ian",
                "Brazil": "Cara",
                "Colombia": "James",
                "Costa Rica": "Mel",
                "Croatia": "Scott T",
                "Denmark": "Cathy",
                "Egypt": "PSH",
                "England": "Jane",
                "France": "Deri",
                "Germany": "Glen",
                "Iceland": "Bruce",
                "Iran": "Tim",
                "Japan": "Chris",
                "Mexico": "Debbie",
                "Morocco": "Jaz",
                "Nigeria": "Matt",
                "Panama": "Frank",
                "Peru": "Tom F",
                "Poland": "Mike",
                "Portugal": "Helen",
                "Russia": "JSH",
                "Saudi Arabia": "Rowan",
                "Senegal": "Tom W",
                "Serbia": "Jake",
                "South Korea": "Nick",
                "Spain": "Jakub",
                "Sweden": "Renee",
                "Switzerland": "Russ",
                "Tunisia": "Neil",
                "Uruguay": "Gill"
            }
        }
    ],
    "slack_payload": {
        "icon_emoji": ":soccer:",
        "link_names": 1,
        "username": "Sportsball"
    },
  "football-data-token": "token",
  "hours_to_add": 0 //this is if you're running it on a server that does not have the same time zone as your local time

}
